@font-face {
    font-family: "Gothic";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
}

@font-face {
    font-family: "Medieval Sharp";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

body {
    font-family: "Gothic", sans-serif;
    margin: 0;
    color: white;
    font-size: 18px;
    background-image: url(../img/smoke-bg.jpg);
    background-repeat: repeat;
    background-size: cover;
}



h1, h2, h3 {
    font-family: "Medieval Sharp", sans-serif;
    color: #facd9f;
}

.logo {
    width: 10%;
}
.logo img {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    color: #ddc9a7;
}

.btn.head {
    background-color: #facd9f;
    color: black;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: "Medieval Sharp", sans-serif;
    z-index: 1;
    margin: 0 5rem;
}

.video-container {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100vw;
    max-width: 100vw;
    
    z-index: -1;
}

.video-container video{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: fill;
}

h2 {
    font-size: 40px;
    color: #facd9f;
}

.partytime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #facd9f;
    padding-top: 20rem;
    margin-bottom: 10%;
    font-size: 30px;
}

.partytime a {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 1px solid #facd9f;
    margin-bottom: 10rem;
}

#section-awards {
    width: 100vw;
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.awards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    width: 50%;
    border: 1px solid #facd9f;
    background-image: url(../img/awards-bg.png);
}

.awards-txt {
    line-height: 80%;
    font-size: 24px;
}

.awards-container {
    width: 20%;
}

.awards-container img {
    width: 100%;
}

h3 {
    font-size: 40px;
}

.races {
    width: 90%;
    margin-bottom: 5rem;
}

.races-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    text-align: center;
}

.all-races {
    width: 40vw;
    border: 1px solid #facd9f;
    background-image: url(../img/races-bg.jpg);
}

.all-races-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 10% 5%;
    color: white;
}

.race-img {
    width: 20%;
}

.race-img img {
    width: 100%;
}

.elf {
    width: 40vw;
    border: 1px solid #facd9f;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem 20% 2rem
}

.elf-logo {
    width: 25%;
}

.elf-logo img {
    width: 100%;
}

.elf-titre {
    border-bottom: 2px solid #ddc9a7;
    width: 50%;
    position: relative;
}

.line {
    width: 5%;
    position: absolute;
    bottom: -16%;
    left: -4%;
}

.line img {
    width: 100%;
}

.elf-description {
    border-bottom: 2px solid #facd9f;
    padding-bottom: 5rem;
    margin-bottom: 26rem;
    color: #ddc9a7;
}

#section-editions {
    background-image: url(../img/buy-now-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

.img-pc {
    width: 90%;
    padding-left: 5rem;
}
.img-pc img {
    width: 100%;
}

.edition-container {
    display: flex;
    flex-direction: column;
}

.editions {
    display: flex;
    gap: 5px;
}
.btn.ed {
    color: white;
    border: 1px solid #facd9f;
    background-color: rgba(0, 0, 0, 0.4);
}

.synopsis {
    color: white;
    width: 90%;
}

#section-updates {
    width: 80% auto;
    margin: 3rem 10rem;
}

.updates {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.update {
    border: 1px solid #facd9f;
    padding: 0rem 1rem;
    width: 25%;
}

.update-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.update.une {
    background-image: url(../img/news-1.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
}

.update.deux {
    background-image: url(../img/news-2.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
}

.update.trois {
    background-image: url(../img/news-3.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.7);
    padding-top: 0;
}

.update:hover {
    box-shadow: none;
}

#section-fanart {
    text-align: end;
    width: 80%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    justify-content: center;
    width: 100%;
    padding-left: 10%;
    gap: 1rem;
}

.gallery img {
    width: 20%;
    object-fit: cover;
}

#section-download {
    display: flex;
    justify-content: center;
}

.download-container {
    background-image: url(../img/cta-bg.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #ddc9a7;
    margin-top: 10%;
    padding: 2rem 4rem 4rem;
    border-radius: 10px;
}

.download-container p,h3 {
    width: 55%;
}

.btn.get-now {
    background-color: black;
    color: white;
    border: 1px solid #ddc9a7;
    padding: 5px;
    width: 90px;
}

#social {
    margin: 8% 15%;
    border-top: 1px solid #ddc9a7;
    border-bottom: 1px solid #ddc9a7;
}

.social-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-bot {
    display: flex;
    justify-content: center;
    width: 66%;
    gap: 3rem;
}

.join-us, .nav-menu {
    display: flex;
    flex-direction: column;
}

.join-us {
    width: 33%;
}
.join-us h3 {
    font-size: 30px;
}

.nav-menu {
    width: 25%;
}
.nav-menu h3 {
    font-size: 20px;
    text-align: center;
}

.nav-menu ul {
    font-size: 16px;
    list-style: none;
}